body {
    background-color: rgb(233, 233, 233);
    height: 100%;
}

h1 {
    color: rgb(46, 46, 46);
  }

.page-title {
    display: block;
    text-align: center;
    margin: auto;
    font-size: larger;
}

.list {
    margin: 5vw;
}

.form-container {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#new-task-form {
    width: 100%;
}

.todo-list {
    overflow: scroll;
    max-height: 70vh;
}